#%RAML 1.0
---

title: Breathing Space
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md

/individuals/breathing-space:
  /debtor:
    /{nino}:
      /details:
        uriParameters:
          nino:
            description: |
              National Insurace Number

              Must be a valid NINO string.
            type: string
            example: "QQ123456C"
        get:
          displayName: Get the details of an individual by their NINO
          description: Get the details of an individual by their given NINO.
          (annotations.scope): "read:breathing-space-debtor"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:breathing-space-debtor" ] } ]
          headers:
            Content-Type:
              description: Specifies the content type of the request payload. Must be same as the example given.
              type: string
              required: true
              example: application/json
            Correlation-Id:
              description: A unique UUID for this request
              type: string
              required: true
              example: 24a8a24f-7126-4aa7-b690-259b2eaccaee
            Request-Type:
              description: |
                Context flag for this request. Signifies if this request is the result of a human attended operation or an automated operation.

                The two possible values are ‘DA2_BS_ATTENDED’ or ‘DA2_BS_UNATTENDED’.
              type: string
              required: true
              example: DA2_BS_ATTENDED
            Staff-Id:
              description: |
                The Staff identifier associated with the human attending the operation that generated this request.

                Must be a 7 digit numeric value
              type: string
              required: true
              example: "1234567"
          responses:
            200:
              body:
                application/json:
                  example: |
                      {}
            400:
              body:
                application/json:
                  description: Invalid Request
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>BAD_REQUEST</code>
                          <message>Payload is not valid according to schema</message>
                          <errors>
                              <error>
                                  <code>xml_validation_error</code>
                                  <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                              </error>
                          </errors>
                      </errorResponse>
            500:
              body:
                application/json:
                  description: Internal server error
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>

  /{nino}:
    get:
      displayName: Retrieve all Breathing Space periods for a NINO
      description: Retrieve all Breathing Space periods for the given NINO.
      (annotations.scope): "read:breathing-space-periods"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:breathing-space-periods" ] } ]
      headers:
        Correlation-Id:
          description: A unique UUID for this request
          type: string
          required: true
          example: 24a8a24f-7126-4aa7-b690-259b2eaccaee
        Request-Type:
          description: |
            Context flag for this request. Signifies if this request is the result of a human attended operation or an automated operation.

            The two possible values are ‘DA2_BS_ATTENDED’ or ‘DA2_BS_UNATTENDED’.
          type: string
          required: true
          example: DA2_BS_ATTENDED
        Staff-Id:
          description: |
            The Staff identifier associated with the human attending the operation that generated this request.

            Must be a 7 digit numeric value
          type: string
          required: true
          example: "1234567"
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "periods": [
                    {
                      "periodId": "75e4cdc2-eecb-11ea-913a-0a9f09f70a70",
                      “startDate” : “2020-01-01”,
                      “endDate” : “2020-02-29”
                    },
                    {
                      "periodId": "75e4cdc2-eecb-11ea-913a-0a9f09f70a71",
                      “startDate” : “2020-04-01”,
                      “endDate” : “2020-05-31”
                    }
                  ]
                }

        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                missingHeader:
                  description: Missing Header
                  value:
                    code: MISSING_HEADER
                invalidHeader:
                  description: Invalid Header
                  value:
                    code: INVALID_HEADER
                invalidNino:
                  description: Missing Nino
                  value:
                    code: INVALID_NINO

        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                resourceNotFound:
                  description: Resource specified by the supplied NINO was not found
                  value:
                    code: RESOURCE_NOT_FOUND

  /periods:
    post:
      displayName: Create new Breathing Space periods
      description: Create new Breathing Space periods for a given NINO.
      (annotations.scope): "write:breathing-space-periods"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:breathing-space-periods" ] } ]
      headers:
        Content-Type:
          description: Specifies the content type of the request payload. Must be same as the example given.
          type: string
          required: true
          example: application/json
        Correlation-Id:
          description: A unique UUID for this request
          type: string
          required: true
          example: 24a8a24f-7126-4aa7-b690-259b2eaccaee
        Request-Type:
          description: |
            Context flag for this request. Signifies if this request is the result of a human attended operation or an automated operation.

            The two possible values are ‘DA2_BS_ATTENDED’ or ‘DA2_BS_UNATTENDED’.
          type: string
          required: true
          example: DA2_BS_ATTENDED
        Staff-Id:
          description: |
            The Staff identifier associated with the human attending the operation that generated this request.

            Must be a 7 digit numeric value
          type: string
          required: true
          example: "1234567"
      responses:
        201:
          body:
            application/json:
              example: |
                {
                  "nino" : "MZ123456C",
                  "periods" : [
                    {
                      "startDate" : "2020-01-01",
                      "endDate" : "2020-02-29",
                      "pegaRequestTimestamp" : "2020-09-11T09:00:00+00:00"
                    },
                    {
                      "startDate" : "2020-04-01",
                      "pegaRequestTimestamp" : "2020-09-11T09:01:00+00:00"
                    }
                  ]
                }

        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                missingHeader:
                  description: Missing Header
                  value:
                    code: MISSING_HEADER
                invalidHeader:
                  description: Invalid Header
                  value:
                    code: INVALID_HEADER
                missingBody:
                  description: Missing Body
                  value:
                    code: MISSING_BODY
                invalidJson:
                  description: Invalid Json
                  value:
                    code: INVALID_JSON
                invalidNino:
                  description: Missing Nino
                  value:
                    code: INVALID_NINO
                invalidDate:
                  description: Invalid Date
                  value:
                    code: INVALID_DATE
                invalidDateRange:
                  description: Invalid Date Range
                  value:
                    code: INVALID_DATE_RANGE

        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                resourceNotFound:
                  description: Resource specified by the supplied NINO was not found
                  value:
                    code: RESOURCE_NOT_FOUND

        415:
          body:
            application/json:
              type: types.errorResponse
              examples:
                unupportedMediaType:
                  description: Content-type header was not equal to 'application/json'
                  value:
                    code: UNSUPPORT_MEDIA_TYPE

